@charset "UTF-8";

body{
    display:grid;
    color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-right: 20%;
    background-image: url(images/Wynton-Marsalis.jpg);
    background-size: cover;
    grid-template-areas: 
        ".  .       a ."
        ".  text    text        b"
        "c   .   .   ."
        ".  d   .       e"
        "f . g ."
    ;
}


#a{
    background-color: #d4759f;
    grid-area: a;
    margin: 10px;

}

h1{
    grid-area: text;
    color: black;
}

#b{
    grid-area: b;
    background-color: #d4759f;
    margin: 10px;
}

#c{
    grid-area: c;
    background-color: #d4759f;
    margin: 10px;
}

#d{
    grid-area: d;
    background-color: #d4759f;
    margin: 10px;
}

#e{
    grid-area: e;
    background-color: #d4759f;
    margin: 10px;
}

#f{
    grid-area: f;
    background-color: #d4759f;
    margin: 10px;
}

#g{
    grid-area: g;
    background-color: #d4759f;
    margin: 10px;

}
section{
    margin: 40px;
    border-radius: 10px;
}