@charset "UTF-8";


body{
    display: grid;
    color: white;
    grid-template-columns:1fr 1fr 1fr 1fr;
    padding-right: 20%;
    background-image: url(images/Wynton-Marsalis.jpg);
    background-size: cover;
    grid-template-areas: 
    ".  .       andy ."
    ".  text    text        pandi"
    "linus   .   .   ."
    ".  enis   .       david"
    "nate . emrah ."
;
}


#andy{
    grid-area: a;
    color: pink;
    margin: 10px;
    
}

h1{
    grid-area: text;
    color: black;
}

#pandi{
    grid-area: b;
    background-color: #d4759f;
    margin: 10px;
}

#linus{
    grid-area: c;
    background-color: #d4759f;
    margin: 10px;
}

#enis{
    grid-area: d;
    background-color: #d4759f;
    margin: 10px;
}

#david{
    grid-area: e;
    background-color: #d4759f;
    margin: 10px;
}

#nate{
    grid-area: f;
    background-color: #d4759f;
    margin: 10px;
}

#emrah{
    grid-area: g;
    background-color: #d4759f;
    margin: 10px;

}
section{
    margin: 40px;
    border-radius: 10px;
}