body{
    margin: 0;
    display: grid;
    height: 100vh;
    grid-template-columns: 3fr 4fr 1fr 2fr;
    grid-template-areas:
        "heat    heat    suspects    suspects"
        "inside  rififi  rififi      bank";
}

#heat{
    grid-area: heat;
    background-image: url(images/heat.jpg);
    background-size: cover;
}

#suspects{
    grid-area: suspects;
    background-image: url(images/usualsuspects.jpg);
    background-size: cover;
}

#inside{
    grid-area: inside;
    background-image: url(images/insideman.jpg);
    background-size: cover;
}

#rififi{
    grid-area: rififi;
    background-image: url(images/rififi.jpg);
    background-size: cover;
}

#bank{
    grid-area: bank;
    background-image: url(images/bankjob.jpg);
    background-size: cover;
}